@model TeduShopingOnline.Web.ViewModels.PasswordViewModel

@{
    ViewBag.Title = "Changepassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ChangePasswordJS{
    <script src="~/Scripts/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/Scripts/plugins/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/Assets/Client/js/controllers/changePassword.js"></script>    
}

<div class="account_grid">
    <div id="changePassword" class="login-left">        
        <form id="frm_updatePassword" method="post">
            <div class="form-group">
                <label for="temporaryPassword">Temporary password:</label>
                <input type="password"
                       class="form-control"
                       id="txtTemporaryPassword"
                       placeholder="Enter your temporary password that you received from email"
                       name="temporaryPassword" />
            </div>
            <div class="form-group">
                <label for="newPassword">New password</label>
                <input type="password"
                       class="form-control"
                       id="txtNewPassword"
                       placeholder="New password"
                       name="newPassword" />
            </div>
            <div class="form-group">
                <label for="repeatPassword">Repeat password:</label>
                <input type="password"
                       class="form-control"
                       id="txtRepeatPassword"
                       placeholder="Repeat password"
                       name="repeatPassword" />
            </div>
            <button id="btnChangePassword" type="submit" class="btn btn-danger">Change password</button>
        </form>
    </div>
    <div class="clearfix"> </div>
</div>