@model TeduShopingOnline.Web.ViewModels.AccountInfoViewModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ForgotPasswordJS{
    <script src="~/Scripts/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/Scripts/plugins/jquery-validation/dist/additional-methods.min.js"></script>

    <script src="~/Assets/Client/js/controllers/forgotPassword.js"></script>
}

<div class="account_grid">
    <div id="successMessage" class="login-left">
        <div class="form-group">
            <h2>Alerts</h2>
            <div class="alert alert-success">
                <strong>Success!</strong> 
                Your temporary password has been sent to your email successfully!.<br/>
                Please check your email and change your password as soon as you can.<br />
                Click <a class="alert-info" id="btnHref">here</a> to change your password
            </div>            
        </div>
    </div>

    <div id="forgotPassword" class="login-left">
        <h3>FORGOT PASSWORD </h3>
        <p>
            Please write your email and your username here. We will send you temporary password.
            After you receive it, you can use it for login and please change your password as soon as you can.
        </p>
        <form id="frm_forgotPassword" method="post">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email"
                       class="form-control"
                       id="txtEmail"
                       placeholder="Email"
                       name="email" />
            </div>
            <div class="form-group">
                <label for="userName">User Name:</label>
                <input type="text"
                       class="form-control"
                       id="txtUserName"
                       placeholder="User name"
                       name="userName" />
            </div>
            <button id="btnResetPassword" type="submit" class="btn btn-danger">Reset password</button>
        </form>
    </div>
    <div class="clearfix"> </div>
</div>
