
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="single_top">
    <div class="single_grid">
        <h3>Your Cart goes here</h3>
        <div id="cartContent"></div>
        <table class="table" id="tb_cart">
            <thead>
                <tr>
                    <td>Number</td>
                    <td>Product Name</td>
                    <td>Images</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Total</td>
                </tr>
            </thead>
            <tbody id="tbody_cart"></tbody>
        </table>
        <div class="pull-right">
            Sum: <span id="lblTotalOrder"></span>
        </div>
        <div class="clearfix"></div>
        <button class="btn btn-success" id="btnContinueShopping">Continue shopping</button>
        <button class="btn btn-danger" id="btnRemoveCart">Remove cart</button>
        <button class="btn btn" id="btnPayment">Payment</button>

        <div id="payment_section" style="display:none">
            <div class="reservation_top">
                <div class="contact_right">
                    <h3>Payment</h3>
                    <div class="contact-form">
                        <form method="post" id="frmPayment">
                            @if (Request.IsAuthenticated)
                            {
                                <label>
                                    <input type="checkbox" id="chkUserLoginInfo" />
                                    Using login information
                                </label>
                            }
                            <input type="text" class="textbox" id="txtIdentityNumber" name="customerIdentityNumber" placeholder="Identity number" />
                            <input type="hidden" class="textbox" id="txtCustomerId" name="customerId" placeholder="Id" disabled />
                            <input type="text" class="textbox" id="txtCustomerName" name="customerName" placeholder="Name" />
                            <input type="text" class="textbox" id="txtCustomerAddress" name="customerAddress" placeholder="Address" />
                            <input type="text" class="textbox" id="txtCustomerEmail" name="customerEmail" placeholder="Email" />
                            <input type="text" class="textbox" id="txtCustomerPhone" name="customerPhone" placeholder="Phone" />
                            <textarea id="txtCustomerMessage" placeholder="Message" name="customerMessage"></textarea>
                            <input type="submit" value="Buy" id="btnBuy" />
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section ShoppingCartJS{
    <script src="~/Scripts/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/Scripts/plugins/jquery-validation/dist/additional-methods.min.js"></script>

    <script src="~/Assets/Client/js/controllers/shoppingCart.js"></script>
    <script id="template-cart" type="x-tmpl-mustache">
        <tr>
            <td>{{ProductId}}</td>
            <td>{{ProductName}}</td>
            <td>
                <img src="{{Image}}" class="img-responsive" />
            </td>
            <td>{{PriceFormat}}</td>
            <td>
                <input type="number" data-id="{{ProductId}}" data-price="{{Price}}" value="{{Quantity}}" class="input txtQuantity" />
            </td>
            <td id="amount_{{ProductId}}">{{Amount}}</td>
            <td>
                <button id="btnRemoveItem_{{ProductId}}" class="btn btn-danger btnRemoveItem" data-id="{{ProductId}}">
                    <i class="fa fa-close"></i>
                </button>
            </td>
        </tr>
    </script>

    <script id="customer-info-template" type="x-tmpl-mustache">
        <div><span>Dear :<b>{{FullName}}</b></span><br /><span>Your account:{{UserName}}</span><br /><span>Your identity number:{{IdentityNumber}}</span><br /><span>Your phone number:{{PhoneNume}}</span><br /><span>Your email: {{Email}}</span><br /><span>Your address:{{Address}}</span><br />Thank you for your order at our Shop</div>
        <p>Your order information details below</p>
    </script>

    <script id="thead-order-detail-template" type="x-tmpl-mustache">
        <thead><tr><th>Order Id</th><th>Product Id</th><th>Product Name</th><th>Quantity</th><th>Price</th><th>Total</th></tr></thead>
    </script>

    <script id="trow-order-detail-template" type="x-tmpl-mustache">
        <tr class="tr-order-detail"><td>{{OrderId}}</td><td>{{ProductId}}</td><td>{{ProductName}}</td><td>{{Quantity}}</td><td>{{Price}}</td><td>{{Total}}</td></tr>
    </script>

    <script id="trow-order-detail-total-template" type="x-tmpl-mustache">
        <tr style="width:auto;height:auto;text-align:right">
            <td colspan="6"><h4>Sum:<b>{{ Sum }}</b></h4></td>
        </tr>
    </script>
}