<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value ="9"/> <!--PageSIze means the number of item displayed on page (so item dc hien thi tren 1 page)-->
  <add key="MaxPage" value="5"/>
  <add key="EnableBundles" value="false"/>
  <!--
    Maxpage = 5 only allow to display 5 pages only from 1 to 5
    Maxpage = 5 chi cho phep hien thi tren 5 trang (tu 1 den 5)
  -->

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="khanhitjava1992@gmail.com"/>
  <add key="FromEmailPassword" value="toilakhanh1992"/>
  <add key="FromName" value="Website"/>
  <add key="AdminEmail" value="bvkhanh0502@gmail.com"/>
  <add key="CurrentUrl" value="http://localhost:50367/"/>
  
  
</appSettings>