<!--Start connection string here-->
<connectionStrings>
  <clear />
  <add name="TeduShoppingOnlineConnection" providerName="System.Data.SqlClient" connectionString="Data Source=YURI-PC\SQLEXPRESS;Initial Catalog=TeduShoppingOnline;User Id=sa;Password=P@ssword123" />
</connectionStrings>
<!--End connection string here-->