<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

    <div id="generate-password-template">
        <span>Dear:<b>{{FullName}}</b></span><br />
        <span>Your account:{{UserName}}</span><br />
        <span>Your identity number:{{IdentityNumber}}</span><br />
        <span>Your phone number:{{PhoneNumber}}</span><br />
        <span>Your email: {{Email}}</span><br />
        <span>Your address:{{Address}}</span><br />
        <span>Your temporary password:<b class="error-message">{{Password}}</b></span>
        <h3 class="text-warning">Please use it to login and change your password as soon as possible</h3>
    </div>
</body>
</html>