<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Product Category</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <!--novalidate is attribute that is used to prevent form validation default-->
            <form class="form-horizontal"
                  role="form"
                  novalidate
                  name="frmAddProductCategory"
                  ng-submit="addProductCategory()">
                <div class="box-body">

                    <div class="form-group">
                        <label for="txtName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control"
                                   id="txtName"
                                   placeholder="Name"
                                   ng-model="name"
                                   name="name"
                                   required ng-maxlength="255" ng-minlength="2" />
                            <span ng-show="frmAddProductCategory.name.$invalid.required"
                                  class="text-danger">
                                Name is required
                            </span>
                            <span ng-show="frmAddProductCategory.name.$error.maxLength || frmAddProductCategory.name.$error.minLength"
                                  class="text-danger">
                                Name must be in range from 2 to 256 characters
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtAlias" class="col-sm-2 control-label">Alias</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control"
                                   id="txtAlias"
                                   placeholder="Alias"
                                   ng-model="alias"
                                   name="alias"
                                   required />
                            <span ng-show="frmAddProductCategory.alias.$invalid"
                                  class="text-danger">
                                Alias is required
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            Description
                        </label>
                        <div class="col-sm-10">
                            <textarea class="form-control"
                                      rows="5"
                                      placeholder="Description"
                                      ng-model="description"
                                      ng-maxlength="500"
                                      ng-minlength="2"
                                      name="description"
                                      required>        
                             </textarea>
                            <span ng-show="frmAddProductCategory.description.$invalid"
                                  class="text-danger">
                                Description is required
                            </span>

                            <span ng-show="frmAddProductCategory.description.$error.maxLengh || frmAddProductCategory.description.$error.minLength"
                                  class="text-danger">
                                Description must be in range from 2 to 500 characters
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            Display Order
                        </label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control"
                                   placeholder="Display Order"
                                   ng-model="displayOrder"
                                   name="displayOrder"
                                   required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            Meta keyword
                        </label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control"
                                   placeholder="Meta Keyword"
                                   ng-model="metaKeyword"
                                   name="metaKeyword"
                                   required />

                            <span ng-show="frmAddProductCategory.metaKeyword.$invalid"
                                  class="text-danger">
                                Meta Keyword is required
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            Meta description
                        </label>
                        <div class="col-sm-10">
                            <textarea type="text"
                                      class="form-control"
                                      placeholder="Meta Description"
                                      rows="5"
                                      ng-model="metaDescription"
                                      name="metaDescription"
                                      required>
                            </textarea>

                            <span ng-show="frmAddProductCategory.metaDescription.$invalid"
                                  class="text-danger">
                                Meta Description is required
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            Status
                        </label>
                        <div class="col-sm-10">
                            <select class="form-control"
                                    ng-init="status = statusOptions[0]"
                                    ng-model="status"
                                    ng-options="x.label for x in statusOptions"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            Home flag
                        </label>
                        <div class="col-sm-10">
                            <select class="form-control"
                                    ng-init="homeFlag = homeFlagOptions[0]"
                                    ng-options="x.label for x in homeFlagOptions"
                                    ng-model="homeFlag"></select>
                        </div>
                    </div>
                </div><!-- /.box-body -->

                <div class="box-footer">
                    <button ui-sref="product-categories" class="btn btn-default">Cancel</button>
                    <button type="submit"
                            class="btn btn-info pull-right"
                            ng-disabled="frmAddProductCategory.$invalid">
                        Add New
                    </button>
                </div><!-- /.box-footer -->
            </form>
        </div><!-- /.box -->
    </div>
</div>