
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body ng-app="appModule">
    <div>10+20={{10+20}}</div>
    <div ng-controller="myController">
        {{message}}
    </div>


    <!--jQuery v3.3.1-->
    <script src="~/Scripts/plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap v3.3.7 -->
    <script src="~/Scripts/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="../../plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="../../plugins/fastclick/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
    <script src="~/Scripts/plugins/angular/angular.min.js"></script>
</body>
</html>
